body{
    margin: 0;
    padding: 0;
    background: url("../img/background.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.img-logo{
    height: 90px;
    margin-left: 45px;
}

.upper{
    background-color: rgba(0, 0, 0, 0.6);
    padding-bottom: 100px;
}

.bottom{
    background-color: rgba(0, 0, 0, 0.85);
    color: #757575;
}

.bottom-width{
    width: 65%;
    margin: 0 auto;
    padding: 30px;
}

.bottom-flex{
    display: flex;
    flex-wrap: wrap;
    padding: 15px 0 0 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

.bottom-flex li{
    list-style: none;
}

.list-bottom{
    width: 25%;
    margin-top: 10px;
}

.link-bottom{
    text-decoration: none;
    color: #757575;
    font-size: 0.8rem;
}

.link-bottom:hover{
    text-decoration: underline;
    
}

.login{
    margin: 0 auto;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    padding: 30px 70px 143px 70px;
    
}

.login h1{
    color: white;
}

.input-text input{
    width: 100%;
    height: 45px;
    background-color: #333;
    color: white;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
}

.input-text input::placeholder{
    font-size: 1rem;
    color: #999;
    padding-left: 15px;
}

.signin-button{
    margin-top: 20px;
    width: 100%;
    padding: 13px;
    border-radius: 5px;
    background-color: red;
    color:white;
    border:none;
    font-weight: bold;
    font-size: 1.05rem;
}

.remember-flex{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 0.8rem;
}

.color_text{
    color: #b3b3b3;
}

.color_link{
    color: #737373;
}

.signup-link{
    color: white;
    text-decoration: none;
}

.signup-link:hover{
    text-decoration: underline;
}

.face_icon{
    color: #3b5998;
    margin-right: 6px;
    font-size: 20px;
}

.log_face{
    text-decoration: none;
    margin-left: 10px;
    font-size: 0.8rem;
}

.login-face{
    margin: 50px 0 15px 0;
    vertical-align: middle;
    color: #8c8c8c;
}

.new-members{
    margin-bottom: 10px;
    
    color: #8c8c8c;
}

.help a:hover{
    text-decoration: underline;
}

.protection{
    font-size: 0.8rem;
    color: #8c8c8c;
}

.protection a{
    text-decoration: none;
}

.protection a:hover{
    text-decoration: underline;
}

.tel-link{
    text-decoration: none;
    color: #757575;
}

.tel-link:hover{
    text-decoration: underline;
}
